input {
  border-radius: 5px;
  border-style: outset;
  display: inline-block;
}

#filter-field {
  text-align: center;
  display: inline;
}

#filter-container {
  padding: 3px;
  text-align: left;
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #ff9999;
}
