<div>
  <h1 style="text-align: center; margin-bottom:40px;"> IEX Trading Chart </h1>
  <div class="select-container">
    <label for="selCompany">Select company:</label>
    <input type="text" value="Company Name" (change)="searchCompany()" [(ngModel)]="companyName">
    <select (scroll)="scrollFunction($event)" id="selCompany" (change)="loadCompanyChart()" [(ngModel)]="companySymbol" size="20">
      <option *ngFor="let company of companySelect" [ngValue]="company.symbol">
          {{company.name}}
      </option>
    </select>
  </div>
  <fusioncharts style="float:right;"
       [id]="id"
       [width]="width"
       [height]="height"
       [type]="type"
       [dataFormat]="dataFormat"
       [dataSource]="dataSource"
  ></fusioncharts>
<table class="table" style="width:100%;">
  <!-- Create headers -->
  <thead>
    <th *ngFor="let header of headers"> {{header.name}} </th>
  </thead>
  <!-- Populate body with data -->
  <tbody>
    <tr scope="row" *ngFor="let chart of chartData.chart">
      <td [ngClass]="checkChange(header, chart.change)" *ngFor="let header of headers">
        {{chart[header.id]}}
      </td>
    </tr>
  </tbody>
</table>
</div>
