th {
  background-color: #ff9999;
}

th:hover {
  background-color: #e6e6e6;
  cursor: grab;
}

tr {
  cursor: default;
}

tr:hover {
  background-color: #e6e6e6;
}

#table-container {
  overflow-y: scroll;
  height: 450px;
}
