<div style="text-align: center">
  <h2> {{tableName}} </h2>
  <table class="table">
    <!-- Create headers -->
    <thead>
      <tr>
        <th (click)="sortHeader(header)" scope="col" style="text-align: center" *ngFor="let header of headers">
          {{header.name}}
          <span [ngClass]="getGlyphicon(header)"> </span>
        </th>
      </tr>
    </thead>
    <!-- Populate body with data -->
    <tbody>
      <tr scope="row" *ngFor="let row of data" (click)="selectRow($event)">
        <td *ngFor="let header of headers">
          {{row[header.id] | tableFormatter: header.id}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
