<div style="text-align: center;">
  <h2> {{tableName}} </h2>
  <filter-component *ngIf="filter" (filterDataEvent)="filterData($event)" [fields]="filterFields" [filterChange]="filterChange" [data]="data"> </filter-component>
  <div id="table-container">
    <table class="table">
      <!-- Create headers -->
      <thead>
        <tr>
          <th class="custom-header" (click)="sortHeader(header)" scope="col" style="text-align: center" *ngFor="let header of headers">
            {{header.name}}
            <span [ngClass]="getGlyphicon(header)"> </span>
          </th>
          <!-- modify glyphicon header -->
          <th>
          </th>
          <!-- trash glyphicon header -->
          <th>
          </th>
        </tr>
      </thead>
      <!-- Populate body with data -->
      <tbody>
        <tr scope="row" *ngFor="let row of displayedData" (click)="selectRow(row)">
          <td *ngFor="let header of headers">
            {{row[header.id] | tableFormatter: header.id}}
          </td>
          <td> <span class="glyphicon glyphicon-pencil" (click)="modifyData(row)"> </span> </td>
          <td> <span class="glyphicon glyphicon-trash" (click)="removeData(row)"> </span> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-component *ngIf="pagination" (changeIndexEvent)="switchPage($event)" [data]="data" [displaySize]="displaySize">
  </pagination-component>
</div>
